In [2]:
import numpy as np
import pandas as pd
from random import randint, shuffle

In [2]:
feature_1 = [1]*30
feature_2_18 = [3]*30
feature_2_19 = [4]*30
feature_3 = [14]*30
feature_4 = ['yes']*30
feature_5 = ['rainy']*30
feature_6 = []
feature_7 = []
feature_8 = ['urban']*30
feature_9 = []

feature_y = []

In [3]:
weather = ['hot', 'cloudy', 'rain', 'humid', 'dry', 'cold']
for i in range(30):
    feature_7.append(randint(5000, 7000))
    feature_y.append(randint(2000, 3000))

In [4]:
for i in range(10):
    feature_6.append('rain')
for i in range(8):
    feature_6.append('cloudy')
for i in range(6):
    feature_6.append('humid')
for i in range(2):
    feature_6.append('cold')
    feature_6.append('hot')
    feature_6.append('dry')

In [5]:
shuffle(feature_6)

In [6]:
for i in range(21):
    feature_9.append('no')
for i in range(9):
    feature_9.append('yes')
shuffle(feature_9)

In [7]:
features = [feature_1, feature_2_18, feature_2_19, feature_3, feature_4, feature_5, feature_6, feature_7, feature_8, feature_9, feature_y]

In [8]:
features = np.array(features)

In [9]:
X = pd.DataFrame(features.transpose(), columns = ['ID',"No of Members Under 18", "No of Members above 18","No of Water using Appliances","Garden(Yes/No)","Season","Weather","Water Availability in Diff Sources","Region","Holiday(Yes/No)","Per Day Water Usage"])

In [10]:
X

,ID,No of Members Under 18,No of Members above 18,No of Water using Appliances,Garden(Yes/No),Season,Weather,Water Availability in Diff Sources,Region,Holiday(Yes/No),Per Day Water Usage
0,1,3,4,14,yes,rainy,cold,5996,urban,no,2817
1,1,3,4,14,yes,rainy,rain,6680,urban,yes,2145
2,1,3,4,14,yes,rainy,dry,5218,urban,no,2520
3,1,3,4,14,yes,rainy,humid,6818,urban,no,2047
4,1,3,4,14,yes,rainy,cold,5512,urban,yes,2781
5,1,3,4,14,yes,rainy,rain,6606,urban,no,2299
6,1,3,4,14,yes,rainy,rain,5573,urban,no,2862
7,1,3,4,14,yes,rainy,hot,5136,urban,yes,2963
8,1,3,4,14,yes,rainy,humid,5331,urban,yes,2462
9,1,3,4,14,yes,rainy,rain,6770,urban,yes,2636
10,1,3,4,14,yes,rainy,rain,6792,urban,no,2446
11,1,3,4,14,yes,rainy,rain,6614,urban,no,2906
12,1,3,4,14,yes,rainy,rain,5348,urban,no,2662
13,1,3,4,14,yes,rainy,cloudy,6782,urban,yes,2785
14,1,3,4,14,yes,rainy,hot,6454,urban,yes,2005
15,1,3,4,14,yes,rainy,cloudy,5830,urban,no,2504
16,1,3,4,14,yes,rainy,cloudy,5750,urban,no,2402
17,1,3,4,14,yes,rainy,humid,6584,urban,no,2743
18,1,3,4,14,yes,rainy,humid,6386,urban,no,2731
19,1,3,4,14,yes,rainy,humid,6905,urban,no,2222
20,1,3,4,14,yes,rainy,rain,6589,urban,no,2148
21,1,3,4,14,yes,rainy,humid,6709,urban,yes,2712
22,1,3,4,14,yes,rainy,rain,6823,urban,no,2250
23,1,3,4,14,yes,rainy,cloudy,6533,urban,no,2013
24,1,3,4,14,yes,rainy,dry,6323,urban,no,2294
25,1,3,4,14,yes,rainy,cloudy,6974,urban,no,2352
26,1,3,4,14,yes,rainy,cloudy,6305,urban,no,2894
27,1,3,4,14,yes,rainy,cloudy,6952,urban,no,2560
28,1,3,4,14,yes,rainy,rain,5399,urban,yes,2634
29,1,3,4,14,yes,rainy,cloudy,6815,urban,no,2906

In [11]:
X.to_csv("Water Usage Data for HackNitr")